*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #EEFFFF;
    font-family: "Product Sans";
}
#background{
    overflow: hidden;
    padding: 30px 70px;
    width: 100%;
    height: 100%;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav #First{
    width: 35px;
}
#nav #left h5{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 12px;
    margin-right: 60px;
}
#nav #left{
    display: flex;
    align-items: center;
}
#nav #left a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    margin-left: 40px;
    font-weight: 500;

}
#nav #right button{
    padding: 8px 22px;
    border: none;
    background-color: #3A8D92;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    box-shadow: 0 2px 3px  #3A8D92 ;
}
#content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
#content #element{
    margin-top: 12%;
    width: 50%;
    height: 70%;
}
#line{
    width: 20%;
    height: 6px;
    background-color: #3A8D92;
    opacity: .4;
    margin: 20px 0 20px 0;
}
#content #element p{
    opacity: .4;
    width: 50%;
    font-size: 10px;
    line-height: 18px;
}
#content #Image{
    width: 50%;
}
#content button{
    padding: 8px 22px;
    border: none;
    background-color: #3A8D92;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    box-shadow: 0 2px 3px  #3A8D92;
    margin-top: 30px;
}
#content #Circle{
    position: absolute;
    left: 0;
    top: 88%;
    transform: translate(0, -50%);
    width: 60px;
}
#background2{
    overflow: hidden;
    position: relative;
    padding: 30px 70px;
    width: 100%;
    height: 100%;
}
#content2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
#element2{
    width: 50%;
    height: 70%;
}
#content2 #Image{
    overflow: hidden;
    width: 50%;
}
#content2 #element2{
    margin-top: 12%;
    width: 40%;
}
#line2{
    width: 20%;
    height: 6px;
    background-color: #3A8D92;
    opacity: .4;
    margin: 20px 0 20px 0;
}
#content2 #element2 p{
    opacity: .4;
    font-size: 10px;
    line-height: 18px;
}
#content2 button{
    padding: 8px 22px;
    border: none;
    background-color: #3A8D92;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    box-shadow: 0 2px 3px  #3A8D92;
    margin-top: 30px;
}
#content2 #Circle{
    position: absolute;
    right: 0;
    top: 88%;
    transform: translate(0, -50%);
    width: 80px;
}
#background3{
    position: relative;
    width: 100%;
    height: 50%;
    padding: 30px 70px;
}
#border{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #3A8D92, #88e4e9 );
}
#border #content3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
    height: 70%;
}
#border #content3 p{
    margin-top: 20px;
    margin-bottom: 20px;
}
#content3 button{
    padding: 8px 22px;
    border: none;
    background-color:white;
    border-radius: 3px;
    color:black;
    font-size: 12px;
    box-shadow: 0 2px 3px  #3A8D92;
    margin-top: 30px;
}
#border #Pic{
    position: absolute;
    right: 0;
    width: 315px;
}
#footer{
    width: 100%;
    padding: 50px 70px;
    
}
#content4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer #content4 #Logo{
     width: 35px;
}
#content4 #left{
    width: 20%;
}
#content4 #left h6{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 20px;
}
#content4 #left a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 12px;
    margin-left: 10px;
}
#content4 #left h5{
    display: flex;
    align-items: center;
    color: #3A8D92;
    margin-top: 25px;
    margin-left: 10px;
}
#content4 #left h5 #C{
    width: 20px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 8px;
    margin-top: 3px;
}
#content4 #middle{
    width: 20%;
}
#content4 #middle h4{
    display: flex;
    align-items: center;
    font-size:12px;
}
#content4 #middle #Map{
    color: #3A8D92;
    font-size: 18px;
    margin-right: 10px;
}
#content4 #middle h3{
    display: flex;
    align-items: center;
    font-size:12px;
}
#content4 #middle #Phone{
    color: #3A8D92;
    font-size: 18px;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-right: 10px;
}
#content4 #middle h2{
    display: flex;
    align-items: center;
    font-size:12px;
}
#content4 #middle #Email{
    color: #3A8D92;
    font-size: 18px;
    margin-right: 10px;
}
#content4 #right{
    width: 20%;
    height: 50%;
    margin-top: 30px;
    margin-bottom: 10px;
}
#content4 #right h2{
    font-size: 15px;
}
#content4 #right p{
   opacity: .4;
   font-size: 12px;
   width: 80%;
   line-height: 17px;
   margin-top: 6px;
   margin-bottom: 6px;
}
#content4 #right i{
    font-size: 20px;
}